Data reported here will fit into the memory of most modern computers. For the users, who prefer to interact with data via structured query language, we exported all data to SQLite database (**data_for_DB**). There is only one table in the database (**data_for_DB**).

To load pandas data frame to SQL follow the instruction [here](http://pandas.pydata.org/pandas-docs/dev/io.html#sql-queries).     
You will need [SQL Alchemy](http://www.sqlalchemy.org/library.html). Tutorial can be found [here](  http://docs.sqlalchemy.org/en/rel_0_9/orm/tutorial.html) and [here](http://www.pythoncentral.io/series/python-sqlalchemy-database-tutorial/).   
For quick and simple introduction to SQL, follow this [link](http://joshualande.com/data-science-sql/).

In [1]:
!pip freeze | grep SQLAlchemy

SQLAlchemy==0.9.8

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import sqlalchemy
print pd.__version__
print sqlalchemy.__version__

0.15.1
0.9.8

In [3]:
!pip freeze | grep matplotlib

matplotlib==1.4.0

In [6]:
data_for_DB=pd.read_csv('../Data/df2_original_for_SQL.csv')

The name of the data frame (above) will be the name of the table in the SQLite database.

In [7]:
data_for_DB.head()

,date,image,objective,time_pf,num_of_cells,meiotic,stage,cell_diameter_um,spindle_length__asters_um,spindle_length_poles_um,...,cleavage_type,num_of_cells_CAT,num_of_cells_NUM,classification_CAT,phylum_CAT,organism_CAT,cleavage_type_CAT,fixation_CAT,microscope_CAT,stage_CAT
0,2013-11-06 00:00:00,131106batstar_35hpf_5,40x,210,1,0,a,177.82149,41.37903,26.13072,...,rah,1,1,1,1,1,1,1,1,1
1,2013-11-06 00:00:00,131106batstar_35hpf_6,40x,210,1,0,m,163.05828,24.85329,18.28827,...,rah,1,1,1,1,1,1,1,1,2
2,2013-11-06 00:00:00,131106batstar_35hpf_7,40x,210,1,0,p,206.00580,35.08890,27.24645,...,rah,1,1,1,1,1,1,1,1,3
3,2013-11-06 00:00:00,131106batstar_35hpf_10,40x,210,1,0,m,194.04000,42.39774,42.39774,...,rah,1,1,1,1,1,1,1,1,2
4,2013-11-06 00:00:00,131106batstar_35hpf_11,40x,210,1,0,NaN,180.36018,NaN,NaN,...,rah,1,1,1,1,1,1,1,1,NaN

In [9]:
from sqlalchemy import create_engine

see details: http://docs.sqlalchemy.org/en/rel_0_9/core/engines.html

In [10]:
engine = create_engine('sqlite:///../Data/df2_original_for_SQL.db')

SQLite: http://zetcode.com/db/sqlite/

In [11]:
data_for_DB.to_sql('data_for_DB',engine,chunksize=1000) #loads data to DB in chunks of 1000 rows

In [13]:
data_for_DB.dtypes

date                                object
image                               object
objective                           object
time_pf                              int64
num_of_cells                        object
meiotic                              int64
stage                               object
cell_diameter_um                   float64
spindle_length__asters_um          float64
spindle_length_poles_um            float64
spindle_width_um                   float64
spindle_aspect_ratio_asters_um     float64
spindle_aspect_ratio_poles_um      float64
astere-to-pole_distance_1_um       float64
aster-to-pole_distance_2_um        float64
inner_aster_diameter_1_um          float64
inner_aster_diameter_2_um          float64
outer_aster_diameter_1_um          float64
outer__diameter_2_um               float64
centrosome                           int64
metaphase_plate_lengt_h_um         float64
metaphase_plate_width_um           float64
metaphase_plate_aspect_ratio_um    float64
polar_body_diameter_1_um           float64
polar_body_diameter_2_um           float64
distance_between_chromosomes_um    float64
microscope                          object
fixation                            object
organism                            object
phylum                              object
classification                      object
genome                             float64
chromosomes                        float64
day                                 object
cleavage_type                       object
num_of_cells_CAT                   float64
num_of_cells_NUM                   float64
classification_CAT                   int64
phylum_CAT                           int64
organism_CAT                         int64
cleavage_type_CAT                    int64
fixation_CAT                       float64
microscope_CAT                     float64
stage_CAT                          float64
dtype: object

####To read data back in:

If you are only reading the data in, make sure to create the engine first (see above).

In [14]:
df=pd.read_sql_table('data_for_DB',engine)

In [15]:
df.head()

,index,date,image,objective,time_pf,num_of_cells,meiotic,stage,cell_diameter_um,spindle_length__asters_um,...,cleavage_type,num_of_cells_CAT,num_of_cells_NUM,classification_CAT,phylum_CAT,organism_CAT,cleavage_type_CAT,fixation_CAT,microscope_CAT,stage_CAT
0,0,2013-11-06 00:00:00,131106batstar_35hpf_5,40x,210,1,0,a,177.82149,41.37903,...,rah,1,1,1,1,1,1,1,1,1
1,1,2013-11-06 00:00:00,131106batstar_35hpf_6,40x,210,1,0,m,163.05828,24.85329,...,rah,1,1,1,1,1,1,1,1,2
2,2,2013-11-06 00:00:00,131106batstar_35hpf_7,40x,210,1,0,p,206.00580,35.08890,...,rah,1,1,1,1,1,1,1,1,3
3,3,2013-11-06 00:00:00,131106batstar_35hpf_10,40x,210,1,0,m,194.04000,42.39774,...,rah,1,1,1,1,1,1,1,1,2
4,4,2013-11-06 00:00:00,131106batstar_35hpf_11,40x,210,1,0,None,180.36018,NaN,...,rah,1,1,1,1,1,1,1,1,NaN